<mat-card class="p-2 justify-between max-w-[32rem] h-full" matRipple (click)="navigateToBlog()">
    <img mat-card-image [src]="imageUrl" alt="">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>

    <mat-card-actions>
        <span>{{likesCount}}</span>
        <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <span>{{commentsCount}}</span>
        <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>comment</mat-icon>
        </button>
        <button>

        </button>
    </mat-card-actions>
</mat-card>