<mat-toolbar class="flex justify-between z-20">
  <span [routerLink]="['']" class="cursor-pointer">Zeshan codes</span>

  <div class="gap-2 items-center hidden md:flex">
    <a mat-button routerLink="portfolio">Portfolio</a>
    <a mat-button routerLink="services">Services</a>
    <a mat-button routerLink="about">About</a>
    <a mat-button routerLink="contact">Contact</a>
  </div>

  <mat-slide-toggle color="primary" (change)="toggleTheme()"
    >Toggle theme</mat-slide-toggle
  >
</mat-toolbar>

<div class="block md:hidden">
  <mat-toolbar color="primary" class="justify-center">
    <a mat-button routerLink="portfolio">Portfolio</a>
    <a mat-button routerLink="services">Services</a>
    <a mat-button routerLink="about">About</a>
    <a mat-button routerLink="contact">Contact</a>
  </mat-toolbar>
</div>
