<mat-toolbar class="flex justify-between z-20" >
  <h3 [routerLink]="['']" class="cursor-pointer mat-headline-5 !mb-0 uppercase">Zeshan <span class="mat-body-1  tracking-wide !font-semibold  text-[#009688]">codes</span></h3>

  <div class="gap-2 items-center hidden md:flex">
    <a mat-button routerLink="portfolio">Portfolio</a>
    <a mat-button routerLink="services">Services</a>
    <a mat-button routerLink="about">About</a>
    <a mat-button routerLink="contact">Contact</a>
  </div>
  <div></div>
</mat-toolbar>

<div class="block md:hidden">
  <mat-toolbar color="primary" class="justify-center">
    <a mat-button  routerLink="portfolio">Portfolio</a>
    <a mat-button  routerLink="services">Services</a>
    <a mat-button  routerLink="about">About</a>
    <a mat-button  routerLink="contact">Contact</a>
  </mat-toolbar>
</div>
