<mat-toolbar class="flex justify-between">
    <span>Spacer</span>

    <div class="flex gap-2 items-center">
        <a mat-button routerLink="/portfolio">Portfolio</a>
        <a mat-button routerLink="/about">Services</a> <!-- Add About page -->
        <a mat-button routerLink="/about">About</a> <!-- Add About page -->
        <a mat-button routerLink="/contact">Contact</a> <!-- Add Contact page -->
    </div>

    <div class="flex gap-2 items-center">
        <a href="https://www.linkedin.com/in/zeeshan-shakeel-2401bb252/">
            <app-social-media-icons [iconName]="'linkedin'"></app-social-media-icons>
        </a>
        <a href="https://www.facebook.com/faisal.bashir.948/map">
            <app-social-media-icons [iconName]="'facebook'"></app-social-media-icons>
        </a>
        <a href="https://www.youtube.com/channel/UC4BdWFSLBuBLXN38DqeA9cw">
            <app-social-media-icons [iconName]="'youtube'"></app-social-media-icons>
        </a>
        <a href="https://www.upwork.com/freelancers/~01611abc6b1be8ebdf">
            <app-social-media-icons [iconName]="'upwork'"></app-social-media-icons>
        </a>
        <a href="https://wa.me/03017473570" target="_blank">
            <app-social-media-icons [iconName]="'whatsapp'"></app-social-media-icons>
        </a>
    </div>
</mat-toolbar>