<div class="container m-auto text-center mt-12">
    <p mat-h1 class="underline text-3xl font-medium">Languages</p>

    <mat-card class="flex flex-wrap justify-center gap-12">
        <mat-card-content>
            <app-language-item [title]="'JavsScript'" [initialValue]="93"></app-language-item>
            <app-language-item [title]="'TypeScript'" [initialValue]="85"></app-language-item>
            <app-language-item [title]="'Python'" [initialValue]="65"></app-language-item>
            <app-language-item [title]="'PHP'" [initialValue]="60"></app-language-item>
            <app-language-item [title]="'Java'" [initialValue]="30"></app-language-item>
        </mat-card-content>
    </mat-card>
</div>