<section class="h-[60vh] bg-fixed text-center bg-cover bg-center bg-no-repeat m-auto flex justify-center items-center text-white" style="background-image: url(https://wallpaperaccess.com/full/3327493.jpg)">
    <div class="flex flex-col justify-center items-center space-y-4 max-w-3xl">

        <h1 class="!text-8xl font-extrabold">
            About to Zeeshan
        </h1>

        <p>
            I'm a full-stack developer with a passion for creating user-friendly, innovative, and efficient web applications.
        </p>
        <p>
            I have experience in both front-end and back-end development,
        </p>
        <p>
            utilizing various technologies such as [e.g. nodejs, Typescript, python etc.]. I am a quick learner and highly motivated to stay up-to-date with the latest advancements in the programming field.
        </p>
        <a href="../../../assets/Zeeshan'sResume.pdf" download class="w-full">
            <button mat-stroked-button class="w-full">resume</button>
        </a>
    </div>
</section>