<p mat-h1 class="underline text-3xl font-medium text-center">Services</p>

<div class="flex flex-wrap justify-center gap-6">
    <app-service-card [clicks]="99" (onClick)="onWeb()" [imageUrl]="'https://www.svgrepo.com/show/4087/web-development.svg'" [title]="'Website development'"></app-service-card>
    <app-service-card [clicks]="99" (onClick)="onApp()" [imageUrl]="'https://logowik.com/content/uploads/images/android-icon9502.logowik.com.webp'" [title]="'Mobile app development'"></app-service-card>
    <app-service-card [clicks]="99" (onClick)="onDesktop()" [imageUrl]="'https://pic.onlinewebfonts.com/thumbnails/icons_229177.svg'" [title]="'Desktop app development'"></app-service-card>
    <app-service-card [clicks]="99" (onClick)="onMore()" [imageUrl]="'https://i.pngimg.me/thumb/f/720/m2H7G6K9d3A0m2H7.jpg'" [title]="'Explore more'"></app-service-card>
</div>