<p mat-h1 class="text-4xl text-center">Key Services I Offer</p>

<div class="flex flex-wrap justify-center gap-12 mt-12">
    <app-service-card [clicks]="99" (onClick)="onWeb()" [imageUrl]="'https://www.svgrepo.com/show/4087/web-development.svg'" [title]="'Website development'"></app-service-card>
    <app-service-card [clicks]="99" (onClick)="onApp()" [imageUrl]="'https://icons.veryicon.com/png/o/object/material-design-icons-1/android-studio.png'" [title]="'Mobile app development'"></app-service-card>
    <app-service-card [clicks]="99" (onClick)="onDesktop()" [imageUrl]="'https://pic.onlinewebfonts.com/thumbnails/icons_229177.svg'" [title]="'Desktop app development'"></app-service-card>
    <app-service-card [clicks]="99" (onClick)="onMore()" [imageUrl]="'https://icons.veryicon.com/png/o/miscellaneous/zoeyhao/next-page-10.png'" [title]="'Explore more'"></app-service-card>
</div>