<div class="flex flex-wrap gap-12 py-12 justify-center">
  <!-- Gym Passport -->
  <app-card [title]="'Fits training (app & admin)'" [subtitle]="'A providing gym services platform developed in (React Native, ReactJs, mongoDb, NodeJs, Stripe, )'" [playStoreLink]="'false'" [playStoreLink]="'false'" [webLink]="'false'" [appStoreLink]="'false'" [imageUrl]="'https://mir-s3-cdn-cf.behance.net/project_modules/disp/e0939f4550228.5601edce119dc.jpg'"></app-card>

  <app-card [title]="'Aman.Al.Rajhi Bank app'" [subtitle]="
      'Bank application developed in (React Native, Kafka)'
    " [imageUrl]="
      'https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/52/14/c5/5214c530-b277-91da-00cc-cc7537e808c3/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x600wa.png'
    " [webLink]="'https://www.alrajhibank.com.sa/EN'" [playStoreLink]="
      'https://play.google.com/store/apps/details?id=com.alrajhi.aman&hl=en&gl=US&pli=1'
    " [appStoreLink]="'https://apps.apple.com/us/app/aman-al-rajhi-app/id1586518707'">
  </app-card>

  <app-card [title]="'Aesthetics Global Evolution'" [subtitle]="
      'Bank application developed in (NestJs, IONIC, Angular, PostgresQl, CometChat)'
    " [imageUrl]="
      'https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/85/13/12/851312ad-0802-9d84-5368-3afc533ca2f4/AppIcon-0-0-1x_U007epad-0-85-220.png/1200x600wa.png'
    " [webLink]="'https://ageforyou.com/'" [playStoreLink]="
      'false'
    " [appStoreLink]="'https://apps.apple.com/us/app/aesthetics-global-evolution/id1572335431'">
  </app-card>

  <app-card [title]="'Muslim Kids TV (app & web)'" [subtitle]="
      'Islamic Education and Fun platform developed in (React Native, ReactJs, django, mariaDb, Azure)'
    " [imageUrl]="
      'https://yt3.googleusercontent.com/lMJU3L-h-WTgp2miojRlW-EbvizS29i3BbCBQmQlUMB7DafSeo6587GhQH0BjE5xFlNbr9DMw1w=s900-c-k-c0x00ffffff-no-rj'
    " [webLink]="'https://muslimkids.tv/new/'" [playStoreLink]="
      'https://play.google.com/store/apps/details?id=com.mktv.steelkiwi.muslimkidstv&hl=en&gl=US'
    " [appStoreLink]="'https://apps.apple.com/us/app/muslim-kids-tv/id1189900377'">
  </app-card>

  <!-- Servr GuestX -->
  <!-- <app-card
    [title]="'HANDZ TEXTILE (web & admin)'"
    [subtitle]="
      'E commerce platform developed in (reactjs · Nodejs · Amazon Web Services (AWS) · PostgreSQL · stripe · Laravel)'
    "
    [webLink]="'https://handztextile.com/'"
    [imageUrl]="
      'https://scontent.flhe2-3.fna.fbcdn.net/v/t39.30808-6/294122931_495121912422091_3197487320497069568_n.jpg?stp=dst-jpg_p480x480&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=HTmHdmfUDj0AX-Xn7nu&_nc_ht=scontent.flhe2-3.fna&oh=00_AfBE0Fx826UUSnGzldjtOokc0aj1_DzOVYO50J26qLwhyQ&oe=65F072AF'
    "
  >
  </app-card> -->

  <!-- 4S -->
  <!-- <app-card
    [title]="'4S (admin)'"
    [subtitle]="
      'Things tracking app by sensors (nextjs · Nodejs · Amazon Web Services (AWS) · MySQL · PostgreSQL · Mqtt)'
    "
    [imageUrl]="
      'https://scontent.flhe2-2.fna.fbcdn.net/v/t39.30808-1/295062692_489329796525819_8161503195279485770_n.jpg?stp=c36.0.480.480a_dst-jpg_p480x480&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=NQd-JwntBXMAX_6hX7y&_nc_ht=scontent.flhe2-2.fna&oh=00_AfB3fB7Uqvdey_WVDQEI48Kas3xZJv2Wiqn1LlJ5EqRLOQ&oe=65F06D98'
    "
    [webLink]="'false'"
  >
  </app-card> -->

  <!-- AGE -->
  <!-- <app-card
    [title]="'AGE (app)'"
    [subtitle]="
      'A skin caring app developing in (Ionic Framework · Angular · Firebase · cometchat)'
    "
    [imageUrl]="
      'https://assets-global.website-files.com/5db1c0d5ca3871e8fd1a7b66/5eb2c3e1f7cca27e9506e908_ionic-framework-og.png'
    "
    [appStoreLink]="'https://testflight.apple.com/join/ymFIhfPK'"
  >
  </app-card> -->

  <!-- Croatia Mobile -->
  <!-- <app-card
    [title]="'Croatia Mobile (app)'"
    [subtitle]="'A saudi-bank application developed in (react-native)'"
    [imageUrl]="
      'https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/318546888/original/4a786a136cd712b747374b396afdf1c962593fa7/develop-mobile-applications-using-react-native.png'
    "
    [playStoreLink]="'false'"
    [appStoreLink]="'false'"
  >
  </app-card> -->

  <!-- Zones -->
  <!-- <app-card
    [title]="'Zones (digital platform)'"
    [subtitle]="
      'A digital platform developing in (reactjs · NestJS · MariaDB · Microsoft Azure · GraphQL · Go (Programming Language))'
    "
    [imageUrl]="
      'https://miro.medium.com/v2/resize:fit:907/1*5qnTLbs2vaozvfc82GB1lw.png'
    "
    [webLink]="'https://www.zones.com/'"
  >
  </app-card> -->

  <!-- Client web -->
  <!-- <app-card
    [title]="' No name (web & admin)'"
    [subtitle]="
      'A e-commerce website developing in (Reactjs · NestJS · PostgreSQL · Microsoft Azure · supabase · Firebase · Microservices)'
    "
    [imageUrl]="'https://nestjs.com/img/nest-og.png'"
    [webLink]="'https://coruscating-cat-13eb68.netlify.app/'"
  >
  </app-card>

  <app-card
    [title]="'Zgaya Hub (web & admin)'"
    [subtitle]="
      'A movie website my own project developing in (nestjs, microservices, postgresQl, reactjs, admin, angular, AWS, firebase)'
    "
    [imageUrl]="
      'https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png'
    "
    [webLink]="'false'"
  >
  </app-card> -->
</div>