<section
  class="h-[50vh] md:h-[60vh] bg-cover bg-bottom bg-no-repeat flex flex-row justify-center m-auto container bg-[url('https://res.cloudinary.com/djvfnekle/image/upload/v1725941991/syym9wsdcnebufa4xvxu.jpg')]">
  <div class="flex justify-center flex-col m-auto w-full lg:w-[50%]">
    <h1 class="!text-4xl md:!text-7xl text-center md:text-start font-extrabold">Zeeshan Shakeel</h1>
    <h2 class="!text-xl md:text-3xl text-center md:text-start !font-light">Full Stack Developer</h2>

    <p class="pt-8 text-center md:text-start">
      Here, you'll find insights into my journey as a Full Stack Engineer.
      Dive in to discover more about what I have to offer!
    </p>

    <mat-divider class="!m-8"></mat-divider>

    <div class="flex space-x-2 !backdrop-blur-md !bg-transparent flex-wrap justify-center md:justify-start">
      <button mat-stroked-button (click)="redirectToCalender()">
        Schedule meeting
      </button>
      <button mat-stroked-button (click)="openOfferModal()">Create offer</button>
      <button mat-stroked-button routerLink="/contact">Get in touch</button>
    </div>
  </div>


</section>