<mat-toolbar class="flex justify-center">
    <span class="text-base font-normal">Copyright © 2024 zeshan.codes</span>
</mat-toolbar>

<mat-toolbar class="flex gap-2 justify-center">
    <a href="https://api.whatsapp.com/send?phone=3064547910" target="_blank">
        <app-social-media-icons [iconName]="'whatsapp'"></app-social-media-icons>
    </a>

    <a href="https://github.com" target="_blank">
        <app-social-media-icons [iconName]="'github'"></app-social-media-icons>
    </a>
</mat-toolbar>