<mat-toolbar class="flex justify-between">
    <span class="text-base font-normal">Copyright © 2024 zeshan.dev</span>

    <div class="flex gap-2 items-center">
        <a href="https://www.linkedin.com/in/zeeshan-shakeel-2401bb252/">
            <app-social-media-icons [iconName]="'linkedin'"></app-social-media-icons>
        </a>

        <a href="https://www.facebook.com/faisal.bashir.948/map">
            <app-social-media-icons [iconName]="'facebook'"></app-social-media-icons>
        </a>

        <a href="https://www.youtube.com/channel/UC4BdWFSLBuBLXN38DqeA9cw">
            <app-social-media-icons [iconName]="'youtube'"></app-social-media-icons>
        </a>

        <a href="https://www.upwork.com/freelancers/~01611abc6b1be8ebdf">
            <app-social-media-icons [iconName]="'upwork'"></app-social-media-icons>
        </a>

        <a href="https://api.whatsapp.com/send?phone=3064547910" target="_blank">
            <app-social-media-icons [iconName]="'whatsapp'"></app-social-media-icons>
        </a>

        <a href="https://github.com/zeshan-tech" target="_blank">
            <app-social-media-icons [iconName]="'github'"></app-social-media-icons>
        </a>
    </div>



    <div></div>
</mat-toolbar>