<div class="flex items-center justify-center p-32 text-center bg-no-repeat bg-cover" style="background-image: url(https://cdn.pixabay.com/photo/2016/02/06/09/56/science-1182713_1280.jpg);">
    <div class="flex flex-col justify-center items-center space-y-4 max-w-lg">
        <p class="text-5xl">About me</p>
        <p>
            I'm a full-stack developer with a passion for creating user-friendly,
            innovative, and efficient web applications.
        </p>
        <p>
            I have experience in both front-end and back-end development,
        </p>
        <p>
            utilizing various technologies such as [e.g. nodejs, Typescript, python etc.]. I am a quick learner and highly motivated to stay up-to-date with the latest advancements in the programming field.
        </p>
        <a href="../../../assets/Zeeshan'sResume.pdf" download class="w-full">
            <button mat-stroked-button color="primary" class="w-full">resume</button>
        </a>
    </div>
</div>