<mat-card class="p-2 text-center justify-between space-y-4 w-96 h-full">
    <div class="space-y-4 flex flex-col items-center">
        <img [src]="imageUrl" alt="" class="w-full h-48 object-cover ">
        <mat-card-title class="!mb-2">{{ name }}</mat-card-title>
        <mat-card-subtitle [innerHTML]="description"></mat-card-subtitle>
    </div>

    <div class="flex w-full gap-1">
        <a *ngIf="playStoreLink" [href]="playStoreLink" target="_blank" class="w-full" mat-stroked-button color="primary">Play store</a>
        <a *ngIf="appStoreLink" [href]="appStoreLink" target="_blank" class="w-full" mat-stroked-button color="primary">App store</a>
        <a *ngIf="webLink" [href]="webLink" target="_blank" class="w-full" mat-stroked-button color="primary">Website</a>
    </div>
</mat-card>