<div class="flex flex-col gap-12">
    <app-hero-section></app-hero-section>
    <app-services></app-services>
    <div class="h-48 bg-fixed bg-cover" style="background-image: url('https://wallpapercave.com/wp/wp12461001.png');"></div>
    <app-skills></app-skills>
    <div class="h-48 bg-fixed bg-cover" style="background-image: url('https://wallpapercave.com/wp/wp12461001.png');"></div>
    <app-languages></app-languages>
    <div class="h-48 bg-fixed bg-cover" style="background-image: url('https://wallpapercave.com/wp/wp12461001.png');"></div>
</div>