<div class="flex flex-col gap-12">
    <app-hero-section></app-hero-section>
    <app-services></app-services>
    <div class="h-20 bg-fixed bg-cover" style="background-image: url('https://wallpapercave.com/wp/wp12461001.png');"></div>
    <app-tech-stack></app-tech-stack>
    <div class="h-20 bg-fixed bg-cover" style="background-image: url('https://wallpapercave.com/wp/wp12461001.png');"></div>
    <!-- <app-languages></app-languages> -->
    <app-development-approach></app-development-approach>
    <div class="h-20 bg-fixed bg-cover" style="background-image: url('https://wallpapercave.com/wp/wp12461001.png');"></div>
</div>
