<div class="mat-elevation-z1 p-1 flex gap-1 m-auto justify-center">
    <div class="w-32 gap-2 justify-center pt-4 flex flex-col items-center cursor-pointer click" matRipple (click)="byWhatsapp()">
        <mat-icon class="icon">whatsapp</mat-icon>
        <h3 class="mat-h3 select-none !m-1 text-center">Whatsapp</h3>
    </div>
    <div class="w-32 gap-2 justify-center pt-4 flex flex-col items-center cursor-pointer click" matRipple (click)="byCall()">
        <mat-icon class="icon">phone</mat-icon>
        <h3 class="mat-h3 select-none !m-1 text-center">Phone call</h3>
    </div>
    <div class="w-32 gap-2 justify-center pt-4 flex flex-col items-center cursor-pointer click" matRipple (click)="byMSTeams()">
        <mat-icon class="icon">ms_teams</mat-icon>
        <h3 class="mat-h3 select-none !m-1 text-center">MS teams</h3>
    </div>
    <div class="w-32 gap-2 justify-center pt-4 flex flex-col items-center cursor-pointer click" matRipple (click)="bySkype()">
        <mat-icon class="icon">skype</mat-icon>
        <h3 class="mat-h3 select-none !m-1 text-center">Skype</h3>
    </div>
</div>